/* déclarer une police. A déclarer en premier*/
@font-face {
    font-family: "Ubuntu-L";
    src: url(/theorie1/fonts/Ubuntu-L.ttf) format('truetype');
}

@font-face {
    font-family: "Ubuntu-M";
    src: url(/theorie1/fonts/Ubuntu-M.ttf) format('truetype');
}

/* déclaration de variable */
html {
    /*https://www.w3schools.com/css/css3_variables.asp*/
    --gris: #333333;
    --gris-clair: #f2f2f2;
    --bleu: #004d99;
    --orange: #ff6600;
    --orange-clair: #ffe0cc;
    --rouge: #ff0000;
    --vert: #2f4f4f;
    --vert-clair: #bfd9d9;
    --vert-tres-clair: #eff5f5;
}

body {
    /* couleur de fond*/
    background-color: white;
    /*taille de la police de caractère*/
    font-size: 90%;
    /* glaisse de la police*/
    font-weight: normal;
    /* changer la police */
    font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    body {
        font-size: 100%;
    }
}

nav {
    display: flex;
    background-color: var(--vert);
    font-size: 90%;
    padding: 5px;
}

@media screen and (min-width: 800px) {
    nav {
        font-size: 100%;
    }
}

h1 {
    font-family: "Ubuntu-M", Helvetica, Arial, sans-serif;
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-family: "Ubuntu-M", Helvetica, Arial, sans-serif;
    font-size: 180%;
    font-weight: bold;
}

h3 {
    font-family: "Ubuntu-M", Helvetica, Arial, sans-serif;
    font-size: 120%;
    font-weight: bold;
}

/* "." défini une class */
/* les classes avec les différentes couleurs */
.gris {
    color: var(--gris);
}

.bleu {
    color: var(--bleu);
}

.orange {
    color: var(--orange);
}

.rouge {
    color: var(--rouge);
}

.vert {
    color: var(--vert);
}

/* classes avec différence d'écriture */
.gras {
    font-family: "Ubuntu-M", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.leger {
    font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

video,
audio {
    width: 100%;
}


/* css sur le menu */

.menuPrincipal {
    background-color: var(--vert);
    padding: 10px;
}

.lienMenu {
    font-family: "Ubuntu-M", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding-right: 1%;
}

.contenu {
    background-color: var(--vert-clair);
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (min-width: 800px) {
    .contenu {
        flex-direction: row;
        align-items: flex-start;
    }
}

main {
    background-color: var(--vert-tres-clair);
    /* Only necessary for FlexBox setup */
    width: 98%;
    padding: 1%;
}

@media screen and (min-width: 800px) {
    main {
        width: 70%;
    }
}

aside {
    background-color: var(--vert-clair);
    padding: 1%;
}

@media screen and (min-width: 800px) {
    aside {
        flex-grow: 1;
    }
}

footer {
    display: flex;
    background-color: var(--vert);
    color: white;
    padding: 1%;
}

.adresseCourriel {
    color: white;
}

.imageAccueil {
    max-width: 70vw;
}

address {
    margin: 0 auto;
    text-align: center;
}

.imageFruits {
width: 200px;
}

@media screen and (min-width: 800px) {
.imageFruits {
	width: 300px;
	}
}
.logoHtmlCss {
	width: 60px;
		}
@media screen and (min-width: 800px) {
.logoHtmlCss {
	width: 80px;
	}
}

#testid {
	background-color: red;
	border-radius: 10px;
	border: 2px solid black
}